<a href="https://colab.research.google.com/github/Pranshav/Coursera_Capastone/blob/master/Coursera2-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coursera2
this notebook is about scraping and cleaning data, as asked in the week3 project

In [0]:
import numpy as np
import pandas as pd

We will start by obtaining the dataframe

In [2]:
dataframe = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
dataframe

[    Postcode           Borough          Neighbourhood
 0        M1A      Not assigned           Not assigned
 1        M2A      Not assigned           Not assigned
 2        M3A        North York              Parkwoods
 3        M4A        North York       Victoria Village
 4        M5A  Downtown Toronto           Harbourfront
 ..       ...               ...                    ...
 283      M8Z         Etobicoke              Mimico NW
 284      M8Z         Etobicoke     The Queensway West
 285      M8Z         Etobicoke  Royal York South West
 286      M8Z         Etobicoke         South of Bloor
 287      M9Z      Not assigned           Not assigned

 [288 rows x 3 columns],
                                                   0   ...   17
 0                                                NaN  ...  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  ...  NaN
 2                                                 NL  ...   YT
 3                                                  A  ...    Y

 [4 rows x 18 columns],
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

df,df1,df2 is used as it will give us Three dataframes, as shown above, for over use we will use the 1st one

In [3]:
df,df1,df2 = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

Removing Not assigned from borough

In [4]:
dff = df[df['Borough']!='Not assigned']
dff

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

Grouping the rows with same Postcode with groupby function

In [5]:
dff1 = dff.groupby(['Postcode','Borough']).agg(','.join).reset_index()
dff1

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

Modifying the not assigned columns in Neighbourhood, by assignening the the value of the corresponding borough

In [6]:
i = 0
for v in dff1['Neighbourhood']:
  i = i+1
  if(v == 'Not assigned'):
    v = dff1['Borough'][i]
dff1

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [7]:
dff1.shape

(103, 3)

So the shape is (103,3)

# 2nd part
for the 2nd part we have to add the Latitude and longitude coordinates

In [21]:
dfc = pd.read_csv('http://cocl.us/Geospatial_data')
dfc['Postcode'] = dfc['Postal Code'] 

dffc = dfc.drop(columns = 'Postal Code')
dffc

      Latitude  Longitude Postcode
0    43.806686 -79.194353      M1B
1    43.784535 -79.160497      M1C
2    43.763573 -79.188711      M1E
3    43.770992 -79.216917      M1G
4    43.773136 -79.239476      M1H
..         ...        ...      ...
98   43.706876 -79.518188      M9N
99   43.696319 -79.532242      M9P
100  43.688905 -79.554724      M9R
101  43.739416 -79.588437      M9V
102  43.706748 -79.594054      M9W

[103 rows x 3 columns]

Now we will merge the two dataframes

In [24]:
dffm = pd.merge(dff,dffc,on='Postcode')
dffm

    Postcode           Borough             Neighbourhood   Latitude  Longitude
0        M3A        North York                 Parkwoods  43.753259 -79.329656
1        M4A        North York          Victoria Village  43.725882 -79.315572
2        M5A  Downtown Toronto              Harbourfront  43.654260 -79.360636
3        M5A  Downtown Toronto               Regent Park  43.654260 -79.360636
4        M6A        North York          Lawrence Heights  43.718518 -79.464763
..       ...               ...                       ...        ...        ...
206      M8Z         Etobicoke  Kingsway Park South West  43.628841 -79.520999
207      M8Z         Etobicoke                 Mimico NW  43.628841 -79.520999
208      M8Z         Etobicoke        The Queensway West  43.628841 -79.520999
209      M8Z         Etobicoke     Royal York South West  43.628841 -79.520999
210      M8Z         Etobicoke            South of Bloor  43.628841 -79.520999

[211 rows x 5 columns]